<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="elit/fonts/icomoon/style.css">

    <link rel="stylesheet" href="elit/css/bootstrap.min.css">
    <link rel="stylesheet" href="elit/css/magnific-popup.css">
    <link rel="stylesheet" href="elit/css/jquery-ui.css">
    <link rel="stylesheet" href="elit/css/owl.carousel.min.css">
    <link rel="stylesheet" href="elit/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="elit/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="elit/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="elit/css/aos.css">
    <link rel="stylesheet" href="elit/css/fancybox.min.css">

    <link rel="stylesheet" href="elit/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div ng-app="loginApp" class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
        <div class="site-logo">
            <a href="index.html" style="font-size: 25px">Social</a>
        </div>

        <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#"
                                                                                                            class="site-menu-toggle js-menu-toggle text-white"><span
                class="icon-menu h3"></span></a></div>
    </header>

    <main class="main-content">
        <div class="container-fluid">
            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 blog-content pr-lg-5">
                            <div class="pt-5">
                                <div ng-controller="loginController" class="comment-form-wrap pt-5">
                                    <h3 class="mb-5">Login</h3>
                                    <form name="loginForm" action="#" class="">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username"
                                                   ng-model="loginUsername" ng-mouseover="hideLoginErrorMessage()"
                                                   autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password"
                                                   ng-model="loginPassword" ng-mouseover="hideLoginErrorMessage()">
                                        </div>
                                        <div class="form-group">
                                            <a href="" class="btn btn-primary btn-md text-white" ng-click="authenticate()">Login</a>
                                        </div>
                                        <span style="color:red" ng-show="loginErrorMessage">
                                        Invalid email username or password.
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<script src="elit/js/jquery-3.3.1.min.js"></script>
<script src="elit/js/jquery-migrate-3.0.1.min.js"></script>
<script src="elit/js/jquery.easing.1.3.js"></script>
<script src="elit/js/jquery-ui.js"></script>
<script src="elit/js/popper.min.js"></script>
<script src="elit/js/bootstrap.min.js"></script>
<script src="elit/js/owl.carousel.min.js"></script>
<script src="elit/js/jquery.stellar.min.js"></script>
<script src="elit/js/jquery.countdown.min.js"></script>
<script src="elit/js/jquery.magnific-popup.min.js"></script>
<script src="elit/js/bootstrap-datepicker.min.js"></script>
<script src="elit/js/aos.js"></script>


<script src="elit/js/jquery.fancybox.min.js"></script>

<script src="elit/js/main.js"></script>

<script src="login.js"></script>
</body>
</html>