<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<head>
    <title>Main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="elit/fonts/icomoon/style.css">

    <link rel="stylesheet" href="elit/css/bootstrap.min.css">
    <link rel="stylesheet" href="elit/css/magnific-popup.css">
    <link rel="stylesheet" href="elit/css/jquery-ui.css">
    <link rel="stylesheet" href="elit/css/owl.carousel.min.css">
    <link rel="stylesheet" href="elit/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="elit/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="elit/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="elit/css/aos.css">
    <link rel="stylesheet" href="elit/css/fancybox.min.css">

    <link rel="stylesheet" href="elit/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div class="site-wrap">
    <div ng-app="mainApp" ng-controller="mainController" ng-init="loadResources()">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
            <div class="site-logo">
                <a href="main.html" style="font-size: 25px">Social</a>
            </div>

            <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#"
                                                                                                                class="site-menu-toggle js-menu-toggle text-white"><span
                    class="icon-menu h3"></span></a></div>

            <div class="row align-items-stretch" ng-model="loggedUser">
                <figure class="mx-auto d-inline-block">
                    <a href="" ng-click="goToSingleUser(loggedUser.username)"><img
                            src="data:image/png;base64,{{loggedUser.avatar}}" alt="Image"
                            class="mx-auto img-fluid w-25 rounded-circle">
                    </a>
                    <a href="" ng-click="goToSingleUser(loggedUser.username)" style="color: white; font-size: 18px">{{loggedUser.username}}</a>
                </figure>

                <a href="" ng-click="logOut()" style="color: white; font-size: 13px">LOG OUT</a>
            </div>

            <!--Likes-->
            <div class="categories" id="likes" ng-show="showPostLikes">
                <h3 style="color: #1b1e21; text-decoration: underline;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Likes &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
                <br><br>
                <ul class="comment-list" ng-repeat="like in postLikes">
                    <li class="comment">
                        <div>
                        <span class="vcard bio">
                            <a href="#" ng-click="goToSingleUser(like.username)"><img
                                    src="data:image/png;base64,{{like.avatar}}" alt="Image"></a>
                        </span>
                            <div>
                                <h5 style="color: black">
                                    {{like.username}}
                                </h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </header>

        <main class="main-content">

            <div class="container-fluid">

                <div class="site-section">
                    <div class="container">
                        <div class="row">

                            <!--Posts-->
                            <div class="col-md-8 blog-content pr-lg-5">

                                <div class="pt-5">

                                    <ul class="comment-list" ng-repeat="post in allPosts">
                                        <li class="comment">
                                            <section class="row align-items-stretch photos">
                                                <div class="col-12">
                                                    <div class="row align-items-stretch">
                                                        <img src="data:image/png;base64,{{post.image}}"
                                                             id="img{{post.id}}" style="display: none" alt="Image">
                                                        <div>
                                                            <a href="" ng-click="goToSingleUser(post.author.username)">
                                                                <h3>{{post.author.username}}</h3></a>
                                                            <p style="alignment: right">{{post.date.substring(0, 10)}},
                                                                {{post.date.substring(11, 16)}}</p>
                                                            <p style="font-size: 19px">{{post.bio}}</p>
                                                        </div>
                                                        <a href="#img{{post.id}}" class="d-block photo-item"
                                                           data-fancybox="gallery" ng-click="showImage(post.id)">
                                                            <img src="data:image/png;base64,{{post.image}}" alt="Image"
                                                                 class="img-fluid">
                                                            <div class="photo-text-more">
                                                                <span ng-init="likeButtonColor= getColor(post.likes)"
                                                                      class="icon-heart"
                                                                      style="color: {{likeButtonColor}}"
                                                                      ng-click="likeUnlikePost(post)"></span>
                                                            </div>
                                                        </a>
                                                        <span><a href="#likes" data-fancybox="" ng-click="getLikes(post.likes)"><p style="color: white">{{post.likes.length}} likes</p></a></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                        <span><a href="" ng-click="showOrHideComments(post.id)"><p
                                                                style="color: white">{{post.comments.length}} comments</p></a></span>

                                                        <!--Comments-->
                                                        <div class="pt-5" id="{{post.id}}" style="display: none">
                                                            <p style="color: #0b0b0b">
                                                                ___________________________________________________________________</p>
                                                            <ul class="comment-list"
                                                                ng-repeat="comment in post.comments">
                                                                <li class="comment">
                                                                    <div class="vcard bio">
                                                                        <img src="data:image/png;base64,{{comment.author.avatar}}"
                                                                             alt="Image">
                                                                    </div>
                                                                    <div class="comment-body">
                                                                        <a href="">{{comment.author.username}}</a>&nbsp&nbsp&nbsp&nbsp
                                                                        <span class="meta">{{comment.date.substring(0, 10)}}, {{comment.date.substring(11, 16)}}</span>
                                                                        <p>{{comment.text}}</p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <form class="col-md-12"
                                                                  ng-submit="addNewComment(post.id, post.comments.length)">
                                                                <input type="text"
                                                                       id="newComment{{post.id}}{{post.comments.length}}"
                                                                       class="form-control"
                                                                       placeholder="Write your comment..."
                                                                       ng-click="hideEmptyCommentErrorMessage()"><br>
                                                                <span style="color:red"
                                                                      ng-show="emptyCommentErrorMessage">Field is empty.</span><br>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                            <!--Side bar: logged user, upload photo,friends and search friend-->
                            <div class="col-md-4 sidebar">

                                <div class="sidebar-box" ng-mousemove="hideNoSuchUserErrorMessage()">
                                    <form class="search-form" ng-submit="getUser(userUsername, true)">
                                        <div class="form-group">
                                            <span class="icon fa fa-search"></span>
                                            <input type="text" class="form-control"
                                                   placeholder="Find new friends..." ng-model="userUsername">
                                        </div>
                                        <span style="color:red; display: none" id="noSuchUserErrorMessage">
                                        No such user!
                                        </span>
                                    </form>
                                </div>
                                <div class="sidebar-box">
                                    <div class="categories">
                                        <h3>Your friends</h3>
                                        <ul class="comment-list" ng-repeat="friend in friends"
                                            ng-init="friendUsername= friend.username">
                                            <li class="comment">
                                                <div class="vcard bio">
                                                    <a href="#" ng-click="goToSingleUser(friendUsername)"><img
                                                            src="data:image/png;base64,{{friend.avatar}}"
                                                            alt="Image"></a>
                                                </div>
                                                <a href="#" ng-click="goToSingleUser(friendUsername)"><h5>
                                                    {{friendUsername}}</h5></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>
<script src="elit/js/jquery-3.3.1.min.js"></script>
<script src="elit/js/jquery-migrate-3.0.1.min.js"></script>
<script src="elit/js/jquery.easing.1.3.js"></script>
<script src="elit/js/jquery-ui.js"></script>
<script src="elit/js/popper.min.js"></script>
<script src="elit/js/bootstrap.min.js"></script>
<script src="elit/js/owl.carousel.min.js"></script>
<script src="elit/js/jquery.stellar.min.js"></script>
<script src="elit/js/jquery.countdown.min.js"></script>
<script src="elit/js/jquery.magnific-popup.min.js"></script>
<script src="elit/js/bootstrap-datepicker.min.js"></script>
<script src="elit/js/aos.js"></script>


<script src="elit/js/jquery.fancybox.min.js"></script>

<script src="elit/js/main.js"></script>

<script src="main.js"></script>
</body>
</html>