<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="elit/fonts/icomoon/style.css">

    <link rel="stylesheet" href="elit/css/bootstrap.min.css">
    <link rel="stylesheet" href="elit/css/magnific-popup.css">
    <link rel="stylesheet" href="elit/css/jquery-ui.css">
    <link rel="stylesheet" href="elit/css/owl.carousel.min.css">
    <link rel="stylesheet" href="elit/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="elit/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="elit/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="elit/css/aos.css">
    <link rel="stylesheet" href="elit/css/fancybox.min.css">

    <link rel="stylesheet" href="elit/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div ng-app="registerApp" class="site-wrap" ng-controller="registerController">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
        <div class="site-logo">
            <a href="index.html" style="font-size: 25px">Social</a>
        </div>

        <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#"
                                                                                                            class="site-menu-toggle js-menu-toggle text-white"><span
                class="icon-menu h3"></span></a></div>

    </header>

    <main class="main-content">
        <div class="container-fluid">
            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 blog-content pr-lg-5">
                            <div class="pt-5">
                                <div class="comment-form-wrap pt-5">
                                    <h3 class="mb-5">Register</h3>
                                    <form name="registerForm" action="#" class="">
                                        <div class="form-group">
                                            <label for="username">Username <span style="color: red">*</span></label>
                                            <input type="text" class="form-control"
                                                   autocomplete="off" ng-model="newUsername"
                                                   ng-mouseover="hideUploadPostErrorMessage()" id="username"></div>
                                        <div class="form-group">
                                            <label for="password">Password <span style="color: red">*</span></label>
                                            <input type="password" class="form-control"
                                                   autocomplete="off" ng-model="newPassword"
                                                   ng-mouseover="hideUploadPostErrorMessage()" id="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="fullName">Full name</label>
                                            <input type="text" class="form-control"
                                                   autocomplete="off" ng-model="newFullName"
                                                   ng-mouseover="hideUploadPostErrorMessage()" id="fullName">
                                        </div>
                                        <div class="form-group">
                                            <label for="bio">Bio</label>
                                            <input type="text" class="form-control"
                                                   autocomplete="off" ng-model="newBio"
                                                   ng-mouseover="hideUploadPostErrorMessage()" id="bio">
                                        </div>
                                        <div class="form-group">
                                            <h6>Avatar</h6><br>
                                            <input type="file" ng-mouseover="hideRegisterErrorMessage()"
                                                   id="avatar">
                                        </div><br>
                                        <div class="form-group">
                                            <a href="" class="btn btn-primary btn-md text-white"
                                               ng-click="submitUser()">Register</a>
                                        </div>
                                        <span style="color:red; display: none" id="showError">
                                        Sorry! Registration failed!
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<script src="elit/js/jquery-3.3.1.min.js"></script>
<script src="elit/js/jquery-migrate-3.0.1.min.js"></script>
<script src="elit/js/jquery.easing.1.3.js"></script>
<script src="elit/js/jquery-ui.js"></script>
<script src="elit/js/popper.min.js"></script>
<script src="elit/js/bootstrap.min.js"></script>
<script src="elit/js/owl.carousel.min.js"></script>
<script src="elit/js/jquery.stellar.min.js"></script>
<script src="elit/js/jquery.countdown.min.js"></script>
<script src="elit/js/jquery.magnific-popup.min.js"></script>
<script src="elit/js/bootstrap-datepicker.min.js"></script>
<script src="elit/js/aos.js"></script>
<script src="elit/js/jquery.fancybox.min.js"></script>
<script src="elit/js/main.js"></script>
<script src="register.js"></script>
</body>
</html>