<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Single-user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="elit/fonts/icomoon/style.css">

    <link rel="stylesheet" href="elit/css/bootstrap.min.css">
    <link rel="stylesheet" href="elit/css/magnific-popup.css">
    <link rel="stylesheet" href="elit/css/jquery-ui.css">
    <link rel="stylesheet" href="elit/css/owl.carousel.min.css">
    <link rel="stylesheet" href="elit/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="elit/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="elit/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="elit/css/aos.css">
    <link rel="stylesheet" href="elit/css/fancybox.min.css">

    <link rel="stylesheet" href="elit/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">

<div class="site-wrap" ng-app="singleUserApp" ng-controller="singleUserController" ng-init="loadResources()">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
        <div class="site-logo">
            <a href="main.html" style="font-size: 25px">Social</a>
        </div>

        <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#"
                                                                                                            class="site-menu-toggle js-menu-toggle text-white"><span
                class="icon-menu h3"></span></a></div>

        <div class="row align-items-stretch" ng-model="loggedUser">
            <figure class="mx-auto d-inline-block">
                <a href="" ng-click="goToSingleUser(loggedUser.username)"><img
                        src="data:image/png;base64,{{loggedUser.avatar}}" alt="Image"
                        class="mx-auto img-fluid w-25 rounded-circle">
                </a>
                <a href="" ng-click="goToSingleUser(loggedUser.username)" style="color: white; font-size: 18px">{{loggedUser.username}}</a>
            </figure>

            <ul class="js-clone-nav">
                <li ng-show="showUserFriendRequests()" ng-model="userFriendRequests"><a href="#friendRequests"
                                                                                        class="d-block photo-item"
                                                                                        data-fancybox=""
                                                                                        style="color: red"
                                                                                        ng-click="showRequests()">You
                    have {{userFriendRequests.length}} new friend
                    requests</a></li>
                <li ng-show="userIsSelf()"><a href="#myProfile" class="nav-link" data-fancybox=""
                                              ng-click="showProfile()">Profile</a></li>
                <li><a href="" class="nav-link" ng-click="logOut()">Log out</a></li>
            </ul>

        </div>

        <!--Friend requests-->
        <div class="categories" id="friendRequests" ng-show="friendRequests">
            <h3 style="color: #1b1e21; text-decoration: underline;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                Manage friend requests &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
            <br><br>
            <ul class="comment-list" ng-repeat="friendRequest in userFriendRequests"
                ng-init="requestSender= friendRequest.requestSender">
                <li class="comment">
                    <div>
                        <span class="vcard bio">
                            <a href="#" ng-click="goToSingleUser(requestSender.username)"><img
                                    src="data:image/png;base64,{{requestSender.avatar}}" alt="Image"></a>
                        </span>
                        <div>
                            <h5 style="color: black">
                                {{requestSender.username}}&nbsp&nbsp&nbsp&nbsp
                                <button style=" font-size: 15px"
                                        ng-click="manageFriendRequest(requestSender.username, true)">Accept
                                </button>
                                <button style=" font-size: 15px"
                                        ng-click="manageFriendRequest(requestSender.username, false)">Decline
                                </button>
                            </h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--Friends-->
        <div class="categories" id="friends" ng-show="showUserFriends">
            <h3 style="color: #1b1e21; text-decoration: underline;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                Friends &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h3>
            <br><br>
            <ul class="comment-list" ng-repeat="friend in friends">
                <li class="comment">
                    <div>
                        <span class="vcard bio">
                            <a href="#" ng-click="goToSingleUser(friend.username)"><img
                                    src="data:image/png;base64,{{friend.avatar}}" alt="Image"></a>
                        </span>
                        <div>
                            <h5 style="color: black">
                                {{friend.username}}
                            </h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--MyProfile-->
        <div class="categories" id="myProfile" ng-show="showMyProfile" style="background-color: #1b1e21">
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">{{loggedUser.username}}</h3>
                <form name="registerForm" action="#" class="">
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input type="password" class="form-control"
                               autocomplete="off" ng-model="newPassword"
                               ng-mouseover="hideUploadPostErrorMessage()" id="password">
                    </div>
                    <div class="form-group">
                        <label for="fullName">Full name</label>
                        <input type="text" class="form-control"
                               autocomplete="off" ng-model="newFullName"
                               ng-mouseover="hideUploadPostErrorMessage()" id="fullName"
                               placeholder="{{loggedUser.name}}">
                    </div>
                    <div class="form-group">
                        <label for="bio">Bio</label>
                        <input type="text" class="form-control"
                               autocomplete="off" ng-model="newBio"
                               ng-mouseover="hideUploadPostErrorMessage()" id="bio" placeholder="{{loggedUser.bio}}">
                    </div>
                    <div class="form-group">
                        <h6>Avatar</h6><br>
                        <input type="file" ng-mouseover="hideRegisterErrorMessage()"
                               id="avatar">
                    </div>
                    <br>
                    <div class="form-group">
                        <a href="" class="btn btn-primary btn-md text-white"
                           ng-click="submitUser()">Update profile</a>
                    </div>
                    <span style="color:red; display: none" id="showError">
                                        Sorry! Update failed!
                                        </span>
                </form>
            </div>
        </div>

        <div class="form-group" ng-show="userIsSelf()">
            <input href="login.html" type="submit" value="Upload photo"
                   class="btn  btn-md text-black" ng-click="goToUploadForm()">
        </div>
    </header>

    <main class="main-content">

        <div class="container-fluid">

            <section class="site-section darken-bg" ng-model="singleUser; friends">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="heading text-uppercase text-white">{{singleUser.username}} &nbsp&nbsp&nbsp
                                <span class="form-group" ng-show="showAddFriendButton">
                                <input type="submit" value="Add friend" class="btn  btn-md text-black"
                                       ng-click="sendFriendRequest(singleUser.username)">
                                </span><h5 ng-show="showMessageWhenAddingAsFriendIsUnavailableMessage"
                                           style="color: darkgrey"
                                           ng-bind="messageWhenAddingAsFriendIsUnavailable">
                                    {{messageWhenAddingAsFriendIsUnavailable}}</h5></div>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <p><span ng-show="showUserPostsCount">{{singleUserPosts.length}} posts</span>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <a href="#friends"
                                       data-fancybox=""
                                       style="color: grey"
                                       ng-click="showFriends()">{{friends.length}} friends</a></p>
                            </div>
                            <figure class="mb-5" data-aos="fade-up"><img
                                    src="data:image/png;base64,{{singleUser.avatar}}" alt="Image"
                                    class="img-fluid w-50 rounded">
                            </figure>
                            <div data-aos="fade-up" data-aos-delay="100">
                                <h2 class="text-white" ng-show="showName">Hi I'm {{singleUser.name}}</h2>
                                <p ng-show="showBio">{{singleUser.bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="row align-items-stretch photos">
                <div class="col-12">
                    <div class="row align-items-stretch">

                        <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" ng-repeat="post in singleUserPosts">
                            <img src="data:image/png;base64,{{post.image}}"
                                 id="img{{post.id}}" style="display: none" alt="Image">
                            <div>
                                <p ng-show="post.bio !== null" style="font-size: 19px">{{post.bio}}</p>
                                <p ng-show="post.bio === null" style="color: black; font-size: 21px">Equal</p>
                            </div>
                            <a href="#img{{post.id}}" class="d-block photo-item" data-fancybox="gallery"
                               ng-click="showImage(post.id)">
                                <img src="data:image/png;base64,{{post.image}}" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <span ng-init="likeButtonColor= getColor(post.likes)" class="icon-heart"
                                          style="color: {{likeButtonColor}}" ng-click="likeUnlikePost(post)"></span>
                                </div>
                            </a>
                            <div class="row align-items-stretch">
                                <span><a href=""><p style="color: white">{{post.likes.length}} likes</p></a></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span><a href="" ng-click="showOrHideComments(post.id)"><p style="color: white">{{post.comments.length}} comments</p></a></span>
                            </div>
                            <!--Comments-->
                            <div class="pt-5" id="{{post.id}}" style="display: none">
                                <p style="color: #0b0b0b">
                                    ___________________________________________________________________</p>
                                <ul class="comment-list"
                                    ng-repeat="comment in post.comments">
                                    <li class="comment">
                                        <div class="vcard bio">
                                            <img src="data:image/png;base64,{{comment.author.avatar}}" alt="Image">
                                        </div>
                                        <div class="comment-body">
                                            <a href="">{{comment.author.username}}</a>&nbsp&nbsp&nbsp&nbsp
                                            <span class="meta">{{comment.date.substring(0, 10)}}, {{comment.date.substring(11, 16)}}</span>
                                            <p>{{comment.text}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <form class="col-md-12" ng-submit="addNewComment(post.id, post.comments.length)">
                                    <input type="text"
                                           id="newComment{{post.id}}{{post.comments.length}}"
                                           class="form-control"
                                           placeholder="Write your comment..."
                                           ng-click="hideEmptyCommentErrorMessage()"><br>
                                    <span style="color:red"
                                          ng-show="emptyCommentErrorMessage">Field is empty.</span><br>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>

    </main>
</div>

<script src="elit/js/jquery-3.3.1.min.js"></script>
<script src="elit/js/jquery-migrate-3.0.1.min.js"></script>
<script src="elit/js/jquery.easing.1.3.js"></script>
<script src="elit/js/jquery-ui.js"></script>
<script src="elit/js/popper.min.js"></script>
<script src="elit/js/bootstrap.min.js"></script>
<script src="elit/js/owl.carousel.min.js"></script>
<script src="elit/js/jquery.stellar.min.js"></script>
<script src="elit/js/jquery.countdown.min.js"></script>
<script src="elit/js/jquery.magnific-popup.min.js"></script>
<script src="elit/js/bootstrap-datepicker.min.js"></script>
<script src="elit/js/aos.js"></script>

<script src="elit/js/jquery.fancybox.min.js"></script>

<script src="elit/js/main.js"></script>

<script src="single-user.js"></script>
<script src="main.js"></script>
</body>
</html>